<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - MacOS App Store Glassmorphism</title>
  <link rel="stylesheet" href="/css/home.css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" id="container">
  <header>
    <section class="window--buttons">
      <div class="window__close"></div>

      <div class="window__minimize"></div>

      <div class="window__maximize"></div>
    </section>
  </header>

  <aside>
    <div>
      <input type="text" placeholder="Search" /><br />

      <button class="active" id="sidebar-btn" onclick="home()">Home <img src="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/house-with-garden_1f3e1.png" width="20px" style="margin-bottom:-3px;"></button>
      <button id="sidebar-btn">Search <img src="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/magnifying-glass-tilted-right_1f50e.png" width="20px" style="margin-bottom:-3px;"></button>
      <button id="sidebar-btn">Database</button>
      <button id="sidebar-btn" onclick="about()">About <img src="https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/memo_1f4dd.png" width="20px" style="margin-bottom:-3px;"></button>
    </div>

    <div class="profile">
      <img src="https://img.icons8.com/office/512/user-male-skin-type-4.png" alt="Profile Pic" class="profile--pic" />

      <h1><%= user %></h1>
    </div>
  </aside>
  <!-- title -->
  <div class="content">
    <h1>Welcome to Peer2Peer</h1>
    <div class="ideas">
      <div class="idea">
        <p>MASTER YOUR MAC</p>
        <h1>Make a great<br> handoff</h1>
        <p>Work seamlessly across devices</p>
      </div>

      <div class="idea">
        <p>GET STARTED</p>
        <h1>Apps optimised for mac with M1</h1>
        <p>Work seamlessly across devices</p>
      </div>
    </div>

    <section class="updates">
      <h1>Updates</h1>

      <div class="update update-1">

        <div class="updt-left">
          <img src="https://img.icons8.com/color/452/microsoft-powerpoint-2019.png" alt="powerpoint icon" />
          <h1>Microsoft Powerpoint</h1>
        </div>

        <div class="buttons">
          <a href="https://bit.ly/3gdGvT8" target="_warning">
            <button>Update</button>
          </a>
        </div>
      </div>

      <div class="update">

        <div class="updt-left">
          <img src="https://img.icons8.com/color/452/microsoft-word-2019--v2.png" alt="word icon" />
          <h1>Microsoft Word</h1>
        </div>

        <div class="buttons">
          <button style="color: lime;cursor: default">Updated</button>
        </div>
      </div>

      <div class="update">

        <div class="updt-left">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Adobe_Photoshop_Lightroom_CC_logo.svg/788px-Adobe_Photoshop_Lightroom_CC_logo.svg.png" alt="lightroom icon" />
          <h1>Adobe Lightroom</h1>
        </div>

        <div class="buttons">
          <a href="https://bit.ly/3gdGvT8" target="_warning">
            <button>Update</button>
          </a>
        </div>
      </div>

      <div class="update">

        <div class="updt-left">
          <img src="https://developer.apple.com/design/human-interface-guidelines/macos/images/app-icon-realistic-materials_2x.png" alt="xcode icon" />
          <h1>Xcode</h1>
        </div>

        <div class="buttons">
          <a href="https://bit.ly/3gdGvT8" target="_warning">
            <button>Update</button>
          </a>
        </div>
      </div>
    </section>

    <section class="trending">
      <h1>Trending</h1>

      <div class="grid">
        <span class="grid__app">
          <h1>Kindle</h1>

          <button>GET</button>
        </span>

        <span class="grid__app">
          <h1>Slac</h1>

          <button>GET</button>
        </span>

        <span class="grid__app">
          <h1>Magnet</h1>

          <button>₹699</button>
        </span>

        <span class="grid__app">
          <h1>CotEditor</h1>

          <button>GET</button>
        </span>

        <span class="grid__app margin">
          <h1>Twitter</h1>

          <button>GET</button>
        </span>

        <span class="grid__app margin">
          <h1>Notability</h1>

          <button>₹799</button>
        </span>

        <span class="grid__app margin">
          <h1>NDTV</h1>

          <button>GET</button>
        </span>

        <span class="grid__app margin">
          <h1>Rummy</h1>

          <button>₹179</button>
        </span>
      </div>
    </section>
    <p><%= data %></p>
<!--
    <section class="links">
      <a href="#">Privacy Policy -></a>

      <a href="#">Terms and Conditions -></a>

      <a href="#">Report Error -></a>

      <a href="#">
        Parent's guide to Mac app store
      </a>
    </section>
  -->
  </div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  <script  src="/js/home.js"></script>

</body>
<script>
  const info = <%- data %>
  console.log(info)
</script>
</html>
